Icon

.DS_Store
.com.apple.timemachine.supported
*.sw?
*.un~
*~.nib

build/

*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
xcuserdata/
*.orig
.buildNumber
Resources/SoftLinksCocoaAssets/
*.xccheckout
*.locuser
*.o
src/main
